.tagcloud {
    position: relative;
    width: 500px;
    height: 500px;
}

.tagcloud--item {
    will-change: transform;
    transition: transform 0.1s ease; /* Smooth transitions */
    font-size: 20px; /* Adjust as necessary */
}
